body{
   font-size: large;
   background-color: grey;
  
}
.resume{
   width: 700px;
   margin: auto;
   background-color: white;
}

.header{
  text-align: center;
  margin: auto;   
}

h2{
    color:#0066b2; 
}


.fa-hand-o-right{
    font-size: 35px;
    color:#0066b2;
}
.fa{
  padding-right: 3px;
}
